<main aria-labelledby="formheadline">
    <form class="form form-horizontal" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <h2 id="formheadline" class="login-headline">Anmelden</h2>
        <div class="form-row">
            <label class="form-label" for="username-input">Benutzername</label>
            <input type="text" name="username" id="username-input" required class="form-input"
                    autocomplete="username" placeholder="Benutzername" #username="ngModel" ngModel>
        </div>
        <div class="form-row">
            <label class="form-label" for="password-input">Passwort</label>
            <input type="password" name="password" id="password-input" required class="form-input"
                    minlength="4" maxlength="12" autocomplete="current-password" placeholder="Passwort" #password="ngModel" ngModel>
        </div>
        <div *ngIf="errorMessage" class="form-row form-row-center error-text">{{errorMessage}}</div>
        <div class="form-row form-row-center">
            <button class="button button-submit" [disabled]="!loginForm.form.valid">Anmelden</button>
        </div>
    </form>
</main>
